.about-section {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
  background-color: var(--clr-bg-alt);
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  color: var(--clr-primary);
  text-transform: uppercase;
}

.about-section p {
  font-size: 1.1rem;
  max-width: 700px;
  line-height: 1.7;
  color: var(--clr-fg);
}

@media (max-width: 768px) {
  .about-section {
    padding: 1.5em 1em;
  }

  .about-section h2 {
    font-size: 2rem;
  }

  .about-section p {
    font-size: 1rem;
  }
}
