.contact-section {
  margin-top: 4em;
  background-color: var(--clr-bg-alt);
  box-shadow: var(--shadow);
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  color: var(--clr-primary);
}

.contact-section p {
  font-size: 1rem;
  color: var(--clr-fg);
}

.contact-info p {
  margin: 0.5em 0;
}

.contact-info a {
  color: var(--clr-primary);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: none;
}


@media (max-width: 600px) {
  .contact-section h2 {
    font-size: 1.8rem;
  }

  .contact-info p {
    font-size: 0.9rem;
  }
}
